html {
  font-size: 100%;
  font-family: 'Open Sans', Verdana, 'Lucida Grande', sans-serif;
  line-height: 1.5; 
}

.at-container {
  max-width: 37em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

h1 {
  margin-top: .8em;
  margin-bottom: .4em;
  font-size: 2.5em;
}

h2 {
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 2em;
}

h3 {
  margin-top: 1.6em;
  margin-bottom: .8em;
  font-size: 1.25em;
}

h4 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1em;
}

h5 { 
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1em;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: normal;
  letter-spacing: -.05em;
  line-height: 1.25;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

dt {font-weight: bold;}

pre, 
code {
  background-color: #f5f5f5;
}

pre {
  color: #cc0000;
  overflow: auto;
}

small {font-size: .75em;}

code {
  border-radius: .25em;
  padding-left: .25em;
  padding-right: .25em;
  color: #cc0000;
}

a:link {text-decoration: underline;}

a:hover, 
a:active, 
a:focus {
  outline-width: .125rem;
  outline-style: dashed;
  outline-color: inherit;
  text-decoration: none;
}

ul, 
ol, 
dd, 
blockquote {padding-left: 2.5em;}

hr,
ul, 
ol, 
dl, 
blockquote {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
}

li > ul,
li > ol {
  margin-top: 0;
  margin-bottom: 0;
}

dd {margin-left: 0;}

blockquote {padding-right: 2.5em;}

.at-hidden {
  position: absolute;
  height: .0625rem;
  width: .0625rem;
  margin: -.0625rem;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a.at-hidden:focus {
  height:auto;
  width: auto;
  clip: auto;
  color: black;
  background-color: white;
 }
